---
title: Philip Reuben - Localization of Creative Works
---

<!--<div class="ui fullwidthbanner">-->
<div container class="ui text container">
<img class="ui medium middle aligned right floated image circular" src="images/phil.jpg">
<!--<img class="ui medium middle aligned image circular" src="images/phil.jpg">-->
<!--<h1>-->
<span>
Philip Reuben testing testing testing testing testing testing testing testing testing testing testing testing testing
</span>
<!--</h1>-->
</div>
<!--</div>-->

<h2>
Localization of Creative Works
Japanese to English | German to English
</h2>
<h3>
Video Games | Subtitling | Manga | Novels
</h3>

<div class="ui padded text container" id="myservices">

<h2 class="ui header">
My Services
</h2>
<p>
Expert localization of literature and visual media from an experienced translator with an eye for the smaller details.
</p>
<p>
My translation philosophy puts the target audience first to make sure they experience your art in the best possible way – with the best possible localized text.
<p>
I have experience of translating into both British and American English. I'm currently seeking new clients for all kinds of creative translation in both language pairs, but especially for German to English subtitling. Please get in touch! [email]
</p>

</div>

<!--
<h2 class="ui top container attached header">Experience: Japanese to English</h2>
-->

<!--
<h1 class="ui text container top attached header">Experience: Japanese to English</h1>

<div class="ui text container attached huge header"><p>Experience:</p><p>Japanese to English</p></div>
-->

<!--
<div class="ui padded text container bottom attached segment">
-->

<div class="ui text container segment philsegment top philpink philinverted">
<h2 class="ui header">Experience: Japanese to English testing what happens if the text is surprisingly really far too long</h2>
</div>

<div class="ui padded text container segment philsegment bottom philpink">

  <!--
  <div class="ui huge header test">Experience: Japanese to English</div>
  <h2 class="ui header">Experience: Japanese to English</h2>
  -->

  <h3 class="ui header"><span class="ui headerspan philpink">
  Video Games
  </span></h3>

  <p>Note: Titles listed are those I contributed to significantly as a translator.</p>

  <ul class="ui list">
  <li>Last Window
  <li>Xenoblade
  <li>The Last Story
  <li>Kirby's Epic Yarn
  <li>Nintendo presents: New Style Boutique
  <li>Inazuma Eleven Go
  <li>Super Smash Bros. for Nintendo 3DS
  <li>Super Smash Bros. for Wii U
  <li>Fire Emblem: Three Houses "Cindered Shadows" DLC (2020, Nintendo Switch)
  </ul>

  <h3 class="ui header">
  <span class="ui headerspan philpink">
  Light Novels
  </span>
  </h3>

  <ul class="ui list">
    <li>"The Tales of Marielle Clarac" for [J-Novel Club] (2019-)
    <ul>
      <li>4+ volumes
      <li>Amazon: 1, 2
    </ul>
  </ul>

  <h3 class="ui header">
  <span class="ui headerspan philpink">
  Manga
  </span>
  </h3>

  <ul class="ui list">
    <li>"The Engagement of Marielle Clarac" for J-Novel Club (2020-)
  </ul>

</div>

<div class="ui text container segment philsegment top philyellow philinverted">
<h2 class="ui header">Experience: German to English</h2>
</div>

<div class="ui padded text container segment philsegment bottom philyellow">

  <h3 class="ui header"><span class="ui headerspan philyellow">
  Video Games
  </span></h3>

<ul class="ui list">
<li>Role-playing game translated for Altagram [https://altagram.com/] (PC, 2020)
  <ul>
  <li> Fantasy setting with colloquial dialogue
  <li> 35,000 words translated (approx.)
  </ul>
</ul>

<p>[currently seeking etc]</p>

</div>

<h2>
Qualifications
</h2>

<ul class="ui list">
<li>German C2
<li>Masters
<li>Degree
</ul>

<h2>
Background
</h2>

<p>
From 2009 I worked in-house at Nintendo of Europe, where I played a major role in highly regarded localization projects such as Xenoblade Chronicles, The Last Story and Super Smash Bros. For several years I also served in a project management role, overseeing in-house and outsourced localization projects, before leaving in late 2019 to pursue a career as a freelance translator.
</p>
<p>
My MA course and my ten years of industry experience have taught me the importance of understanding the client's needs and accounting for all those tiny details that can make a huge difference to the end user.
</p>
<p>
In my spare time I have performed on stage in both English and German, appearing in local productions ranging from Shakespeare to musicals to improvised Agatha Christie plays. I'm currently based in Leeds, UK.
</p>

<h2>
Contact
</h2>

<p>
Feel free to call me Phil!
</p>